<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @driver.name %>,</h4>
    <p><%= @amount %> has been added to your wallet for your services on WeHaul</p>
    <br/>
    <p>Best</p>
    <p>WeHaul Team</p>
  </body>
</html>