<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thank you <%= @trip.user.name %>,</h4>
    <p>Your trip: <b><%= @trip.token %></b> has been completed. </p>
    <p>Thank you for your business.</p>
    <br/>
    <p>Best</p>
    <p>WeHaul Team</p>
  </body>
</html>