<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Welcome, <%= @user.name %>,</h4>
    <p>You have been added as a driver on the Wehaul platform by an admin. Proceed to your dashboard to start accepting trips.</p>
    <p>Your temporary password is: <b>Password1234</b></p>
   <a href="https://wehaul.netlify.com" target="_blank">Log In</a>
    <br/>
    <p>Best</p>
    <p>WeHaul Team</p>
  </body>
</html>